<div class="bg"></div>
<div class="postulant-table-container">
    <div class="centerCard greeting-title">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <img src="../../../assets/images/logoHorizontal.png" height="80px" />
                <h2 class="card-title">Bienvenido!</h2>
                <h2 class="card-title">Sistema de Administración De Convocatorias De Auxiliares</h2>
                <p class="card-text">Busca una convocatoria a la que quieras postular, de las distintas facultades de
                    nuestra universidad</p>
            </div>
        </div>
        <div>
            <button class="btn btn-secondary p-2" style="width: 40%; margin:30px;" routerLink='/listarConvocatorias'>Buscar convocatorias</button>
        </div>
    </div>
</div>